$white: #f8f8ff;
$dark: #2c2c2c;
$lightgreen: #53631b;
$mediumgreen: #322d0d;
$darkgreen: #1a1f08;
$twitterblue: #1da1f2;
$lightgrey: #ccd6dd;
$grey: #657786;
$lightblue: rgba(29, 161, 242, 0.082);

.text-grey {
  color: $grey;
}

.bg-lightblue {
  background-color: $lightblue;
}
