@import "sizes";
@import "spacing";
@import "borders";
@import "flex";
@import "typography";
@import "colors";
@import "css/bootstrap.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.5rem;
  margin: 0;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  color: $dark;
}

button {
  font-family: "Roboto", sans-serif;
  background-color: unset;
  border: 1px solid $twitterblue;
  cursor: pointer;
  border-radius: 999px;
  color: $twitterblue;
  font-weight: 700;
  padding: 5px;
  width: 100%;
  text-align: center;
  font-size: 1rem;

  &:hover {
    background-color: $lightblue;
  }
}

a.no-link-format {
  color: inherit;
  text-decoration: inherit;
}

a {
  color: $twitterblue;
}

.twitter {
  width: 2rem;
  height: 2rem;
  margin-bottom: -0.5rem;
  color: $twitterblue;
}

.tweet {
  border: 1px solid $lightgrey;
  border-radius: 15px;
  padding: 10px 15px;

  .tweet-images img {
    border-radius: 15px;
  }

  .tweet-col {
    padding: 1px;
  }

  .icon {
    width: 44px;
    height: 44px;
  }

  .underlinelink {
    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: $sm) {
  button {
    font-size: 1.15rem;
  }
}
